.propos{
    max-width: 700px;
    /* margin-right:50px ; */
    text-align: justify;
    display: flex; /* Utiliser flexbox */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
}

.contenu{
    
    margin-top: 14%;
    margin-left: 40px;
    
}

