.text{
  /* margin-left: 100px; */
  text-align: justify;
  max-width: 500px;

}

.containe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-top: 150px;
}

.rows {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.col-sm-4, .col-sm-6 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.col-sm-6{
  margin-left: 20px;
}


