.col{
    display: flex;
    flex-direction: row;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .card.pulse-animation {
    animation: pulse 1.5s infinite;
  }
  
  @media (max-width: 480px) {
 .search {
  width: 300px !important;
  justify-content: center;
  margin-left: 50px;
  
 }
 .d-flex{
  width: 100%;
 }
 .col-md-6{
  margin-bottom: 20px;
 }
  }

.mar{
  font-size: 25px;
 
}
.titre{
  text-align: center;
 margin-bottom:20px;
 background: linear-gradient(rgba(54, 159, 74, 0.7), rgba(255, 255, 255, 0.7));
  height: 80px;
  margin-bottom: 50px;
}
.form-select{
  background-color: #FBD608;
}
.containe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.marche-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
.row{
  justify-content: center;
}